.box1{ background-color: hsl(0, 100%, 80%);}
.box2{ background-color: rgb(15, 186, 250);}
.box3{ background-color: rgba(186, 35, 186, 0.55);}
.box4{background-color: aqua;}
.box5{background-color: cornflowerblue;}