div{
    background-color: lightsalmon;
    ul{
        li{
            list-style-type:circle;
            a{
                color: rgb(93, 243, 93);
                text-shadow: 0px 0px 5px black;
            }
        }
    }
}